<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main.css">
    <title>Document</title>
</head>
<body>
    <div class="image-container">
        <div class="res-img-container">
            <img class="res-img" src="../assests/jpegs/pexels-photo-220453.jpeg" alt="Responsive Image">
        </div>
        <div class="circular-img-container">
            <img class="cir-img" src="../assests/jpegs/pexels-photo-220453.jpeg" alt="Responsive Image">
        </div>
    </div>
</body>
</html>