<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Badges/badge.css" />
    <script src="https://kit.fontawesome.com/dd240e367a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="badge-container">
        <div class="badge-on-icons">
            <button type="button" class="badge-typ-1">
                <span class="fa-solid fa-house"></span>
                <span class="badge-count typ-bg-red">9+</span>
            </button>

            <button class="badge-typ-1">
                <span class="fas fa-bell"></span>
                <span class="badge-count typ-bg-lime">9+</span>
            </button>

            <button class="badge-typ-1">
                <span class="fas fa-shopping-cart"></span>
                <span class="badge-count typ-bg-yw">9+</span>
            </button>
        </div>

        <div class="badge-on-avatar">

            <div class="badge-avatar">
                <div class="avatar avatar-sm">
                    <img class="img-all" src="/assests/jpegs/2.jpg" alt="avatar" />
                    <span class="badge-status typ-bg-red"></span>
                </div>
            </div>

            <div class="badge-avatar">
                <div class="avatar avatar-sm">
                    <img class="img-all" src="/assests/jpegs/2.jpg" alt="avatar" />
                    <span class="badge-status typ-bg-lime"></span>
                </div>
            </div>
            <div class="badge-avatar">
                <div class="avatar avatar-sm">
                    <img class="img-all" src="/assests/jpegs/2.jpg" alt="avatar" />
                    <span class="badge-status typ-bg-yw"></span>
                </div>
            </div>


        </div>

</body>

</html>