<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="buttons.css" />
    <script
      src="https://kit.fontawesome.com/dd240e367a.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>

  <body>
    <div class="button-container">
      <div class="btn-typ-1">
        <button class="btn-1 is-primary">Primary</button>
        <button class="btn-1 is-secondary">Secondary</button>
        <button class="btn-1 is-success">Success</button>
        <button class="btn-1 is-warning">Warning</button>
        <button class="btn-1 is-danger">Danger</button>
        <button class="btn-1 is-link">Link</button>
      </div>

      <div class="btn-typ-2">
        <button class="btn-1 is-primary">
          <i class="fa-solid fa-cart-shopping"></i>
          Add To Cart
        </button>

        <button class="btn-1 is-secondary">
          <i class="fa-solid fa-gear"></i>
          Settings
        </button>
      </div>

      <div class="btn-typ-3">
        <a href="#">
          <button class="btn-float-typ-1 is-danger">
            <i class="fas fa-arrow-up"></i>
          </button>
        </a>

        <a href="#">
          <button class="btn-float-typ-1 is-alternate">
            <i class="fa-solid fa-plus"></i>
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
