*{
    padding: 0;
    box-sizing: border-box;
    
}



.h1-size-1{
    font-size: 2rem;
    line-height: 1.2;
}

.h2-size-1{
    font-size: 1.75rem;
    line-height: 1.2;
}

.h3-size-1{
    font-size: 1.5rem;
    line-height: 1.2;
}
.h4-size-1{
    font-size: 1.375rem;
    line-height: 1.2;
}

.h5-size-1{
    font-size: 1.25rem;
    line-height: 1.2;
}

.h6-size-1{
    font-size: 1.125rem;
    line-height: 1.2;

}

.text-alignment-container{
    width: 50%;
    height: max-content;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
}
.flex-col-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.text-right-align{
    text-align: right;
}
.text-center-align{
    text-align:center;
}
.text-left-align{
    text-align: left;
}

