<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../main.css" />
  <script src="https://kit.fontawesome.com/dd240e367a.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <div class="card-container">
    <div class="card">
      <div class="card-typ-1">
        <h5 class="card-h-style f-s-h5">morbi enim-card title</h5>
        <h6 class="card-h-style card-subtitle f-s-h6 margin-bottom-typ-2 text-subtitle-color">
          integer eget aliquet-card subtitle
        </h6>
        <p class="card-text-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.Tincidunt
          ornare massa eget egestas. Morbi tempus iaculis urna id volutpat
          lacus.
        </p>
      </div>

      <div class="card-typ-1-with-dismiss">
        <div class="card">
          <div class="card-typ-1">

            <button class="close-btn">
              <i class="fa-solid fa-xmark"></i>
            </button>

            <h5 class="card-h-style f-s-h5">morbi enim-card title</h5>
            <h6 class="card-h-style card-subtitle f-s-h6 margin-bottom-typ-2 text-subtitle-color">
              integer eget aliquet-card subtitle
            </h6>
            <p class="card-text-paragraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna
              aliqua.Tincidunt ornare massa eget egestas. Morbi tempus iaculis
              urna id volutpat lacus.
            </p>
          </div>
        </div>
      </div>

      <div class="card-typ-vertical">
        <div class="card">
          <div class="card-typ-1">
            <div class="card-img-vertical-container">
              <div class="badge-bs">
                #1 Bestseller
              </div>
              <div class="text-overlay">
                Out of Stock
              </div>
              <img src="/assests/jpegs/mobile-stock.jpg" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-h-style f-s-h5">morbi enim-card title</h5>
              <p class="card-text-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.Tincidunt
                ornare massa eget egestas.
              </p>
            </div>

            <div class="card-info">
              <span class="price-after">₹99</span>
              <span class="price-before text-subtitle-color">₹100</span>
              <span class="price-percent-difference">1% Off</span>
            </div>
            <div class="card-buttons">
              <span class="btn-add-to-card">
                <button class="btn-1 is-primary">
                  <i class="fa-solid fa-cart-shopping"></i>
                  Add To Cart
                </button>
              </span>
              <span class="btn-wishlist">
                <button class="btn-1 bg-none">
                  <i class="fa fa-heart-o"></i>
                </button>
              </span>
            </div>

          </div>
        </div>
      </div>

      <div class="card-typ-horizontal">
        <div class="card-horizontal">
          <div class="card-typ-2">
            <h5 class="card-h-style f-s-h5">morbi enim-card title</h5>
            <h6 class="card-h-style card-subtitle f-s-h6 margin-bottom-typ-2 text-subtitle-color">
              integer eget aliquet-card subtitle
            </h6>
            <p class="card-text-paragraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>