<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main.css">
    <title>Lists - Component</title>
</head>

<body>
    <!-- Navigation Top Bar Starts Here-->
    <nav class="nav-container">
        <div class="nav-bar-left">
            <ul class="nav-bar-list">
                <li class="nav-bar-title-text">
                    <a class="link-a link-a-font-color-black" href="#">Sway UI</a>
                </li>
            </ul>
        </div>
        <div class="nav-bar-right">
            <ul class="nav-bar-list">
                <li class="nav-bar-list-items nav-bar-list-items-text">
                    <a class="link-a link-a-font-color-black" href="#">Home</a>
                </li>
                <li class="nav-bar-list-items nav-bar-list-items-text">
                    <a class="link-a link-a-font-color-black" href="#">Docs</a>
                </li>
                <li class="nav-bar-list-items nav-bar-list-items-text">
                    <a class="link-a link-a-font-color-black" href="#">Github</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--Navigation top bar ends here-->

    <!--Main Body content & sidebar-->
    <div class="main-body-container">
        <!--Sidebar starts here-->
        <aside class="navbar-side">
            <nav>
                <ul class="sidebar-list">
                    <li class="sidebar-list-items">
                        <a href="../../Documentation/documentation.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Getting Started</a>
                    </li>

                    <li class="sidebar-list-items">
                        <a href="../../Components/Alerts/alerts.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Alerts</a>
                    </li>
                    <li class="sidebar-list-items">
                        <a href="../../Components/Avatars/avatar.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Avatars</a>
                    </li>
                    <li class="sidebar-list-items">
                        <a href="../../Components/Badges/badges.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Badges</a>
                    </li>
                    <li class="sidebar-list-items">
                        <a href="../../Components/Buttons/buttons.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Buttons</a>
                    </li>
                    <li class="sidebar-list-items">
                        <a href="../../Components/Cards/cards.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Cards</a>
                    </li>
                    <li class="sidebar-list-items">
                        <a href="../../Components/Images/images.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Images</a>
                    </li>
                    <li class="sidebar-list-items">
                        <a href="../../Components/Inputs/inputs.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Inputs</a>
                    </li>
                    <li class="sidebar-list-items">
                        <a href="../../Components/Lists/lists.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Lists</a>
                    </li>
                    <li class="sidebar-list-items">
                        <a href="../../Components/modal/modal.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Modal</a>
                    </li>
                    <li class="sidebar-list-items">
                        <a href="../../Components/navigation/navigation.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Navigation</a>
                    </li>
                    <li class="sidebar-list-items">
                        <a href="../../Components/rating/rating.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Rating</a>
                    </li>
                    <li class="sidebar-list-items">
                        <a href="../../Components/grid/grid.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Simplified Grid</a>
                    </li>

                    <li class="sidebar-list-items">
                        <a href="../../Components/toast/toast.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Toast</a>
                    </li>
                    <li class="sidebar-list-items">
                        <a href="../../Components/Utilities/utilities.html"
                            class="link-a link-a-font-color-black sidebar-list-items-text">Utilities</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <!--Sidebar ends here-->
        <div class="component-container">
            <div class="list-container-typ-1">
                <div class="examples-description">
                    <h1 class="h1-size-1">Lists</h1>
                    <p class="p-description">
                        Lists are used to present text or data in a structured format.
                    </p>
                    <h1 class="h1-size-1">Ordered List</h1>
                    <p class="p-description">
                        Ordered List includes arrangement of list with a number or an alphabet. The order can be ascending or descending. The pre-defined lists style in Sway UI are
                        <strong>Numbers, captial alphabets, lowercase alphabets</strong>. To use list style, copy the corresponding class name and add it to li or ol element.
                    </p>
                </div>
                <div class="examples-component">
                    <div class="order-list">

                        <ol class="ol-numbers ol-style">
                            <li>Item-1</li>
                            <li>Item-2</li>
                            <li>Item-3</li>
                        </ol>

                        <ol class="ol-alpha ol-style">
                            <li>Item-1</li>
                            <li>Item-2</li>
                            <li>Item-3</li>
                        </ol>

                        <ol class="ol-lower-alpha ol-style">
                            <li>Item-1</li>
                            <li>Item-2</li>
                            <li>Item-3</li>
                        </ol>

                    </div>
                </div>
                <div class="examples-code">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Col%2520class%253D%2522ol-numbers%2520ol-style%2522%253E%250A%253Cli%253EItem-1%253C%252Fli%253E%250A%253Cli%253EItem-2%253C%252Fli%253E%250A%253Cli%253EItem-3%253C%252Fli%253E%250A%253C%252Fol%253E%250A%250A%253Col%2520class%253D%2522ol-alpha%2520ol-style%2522%253E%250A%253Cli%253EItem-1%253C%252Fli%253E%250A%253Cli%253EItem-2%253C%252Fli%253E%250A%253Cli%253EItem-3%253C%252Fli%253E%250A%253C%252Fol%253E%250A%250A%253Col%2520class%253D%2522ol-lower-alpha%2520ol-style%2522%253E%250A%253Cli%253EItem-1%253C%252Fli%253E%250A%253Cli%253EItem-2%253C%252Fli%253E%250A%253Cli%253EItem-3%253C%252Fli%253E%250A%253C%252Fol%253E%250A"
                        style="width: 438px; height: 505px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
            <div class="unordered-list-container">
                <div class="examples-description" style="margin-top: 0.5rem;">
                    <h1 class="h1-size-1">Unordered Lists</h1>
                    <p class="p-description">
                        Unordered Lists are represented by the same object. They can be square,circle or bullets. 
                    </p>
                </div>
                <div class="examples-component">
                    <div class="unordered-list">

                        <ul class="ul-square ul-style">
                            <li>Item-1</li>
                            <li>Item-2</li>
                            <li>Item-3</li>
                        </ul>

                        <ul class="ul-circle ul-style">
                            <li>Item-1</li>
                            <li>Item-2</li>
                            <li>Item-3</li>
                        </ul>

                        <ul class="ul-bullet ul-style">
                            <li>Item-1</li>
                            <li>Item-2</li>
                            <li>Item-3</li>
                        </ul>
                    </div>
                </div>
                <div class="examples-code">
                    <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522ul-square%2520ul-style%2522%253E%250A%253Cli%253EItem-1%253C%252Fli%253E%250A%253Cli%253EItem-2%253C%252Fli%253E%250A%253Cli%253EItem-3%253C%252Fli%253E%250A%253C%252Ful%253E%250A%250A%253Cul%2520class%253D%2522ul-circle%2520ul-style%2522%253E%250A%253Cli%253EItem-1%253C%252Fli%253E%250A%253Cli%253EItem-2%253C%252Fli%253E%250A%253Cli%253EItem-3%253C%252Fli%253E%250A%253C%252Ful%253E%250A%250A%253Cul%2520class%253D%2522ul-bullet%2520ul-style%2522%253E%250A%253Cli%253EItem-1%253C%252Fli%253E%250A%253Cli%253EItem-2%253C%252Fli%253E%250A%253Cli%253EItem-3%253C%252Fli%253E%250A%253C%252Ful%253E%250A"
                        style="width: 396px; height: 505px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>


            <div class="stack-list-container">
                <div class="examples-description" style="margin-top: 0.5rem;">
                    <h1 class="h1-size-1">Stack List</h1>
                    <p class="p-description">
                        Lists which are nested or stacked on top of other li elements are stack list. They can be used in notification drawer.
                    </p>
                </div>
                <div class="examples-description flex-align-item-center">
                    <ul class="stack-list ul-style">
                        <li class="stack-list-item">
                            <div class="f-s">Notification Title</div>
                            <div>Notification-content</div>
                        </li>
                        <li class="stack-list-item">
                            <div class="f-s">Notification Title</div>
                            <div>Notification-content</div>
                        </li>
                        <li class="stack-list-item">
                            <div class="f-s">Notification Title</div>
                            <div>Notification-content</div>
                        </li>
                    </ul>
                </div>
                <div class="examples-code">
                    <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522stack-list%2520ul-style%2522%253E%250A%253Cli%2520class%253D%2522stack-list-item%2522%253E%250A%253Cdiv%2520class%253D%2522f-s%2522%253ENotification%2520Title%253C%252Fdiv%253E%250A%253Cdiv%253ENotification-content%253C%252Fdiv%253E%250A%253C%252Fli%253E%250A%253Cli%2520class%253D%2522stack-list-item%2522%253E%250A%253Cdiv%2520class%253D%2522f-s%2522%253ENotification%2520Title%253C%252Fdiv%253E%250A%253Cdiv%253ENotification-content%253C%252Fdiv%253E%250A%253C%252Fli%253E%250A%253Cli%2520class%253D%2522stack-list-item%2522%253E%250A%253Cdiv%2520class%253D%2522f-s%2522%253ENotification%2520Title%253C%252Fdiv%253E%250A%253Cdiv%253ENotification-content%253C%252Fdiv%253E%250A%253C%252Fli%253E%250A%253C%252Ful%253E%250A"
  style="width: 479px; height: 449px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

</body>

</html>