<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main.css">
    <title>Document</title>
</head>
<body>

    <div class="list-container">
        <div class="order-list">

            <ol class="ol-numbers ol-style">
                <li>Item-1</li>
                <li>Item-2</li>
                <li>Item-3</li>
            </ol>

            <ol class="ol-alpha ol-style">
                <li>Item-1</li>
                <li>Item-2</li>
                <li>Item-3</li>
            </ol>

            <ol class="ol-lower-alpha ol-style">
                <li>Item-1</li>
                <li>Item-2</li>
                <li>Item-3</li>
            </ol>

        </div>

        <div class="unordered-list">
            <ul class = "ul-square ul-style">
                <li>Item-1</li>
                <li>Item-2</li>
                <li>Item-3</li>
            </ul>

            <ul class = "ul-circle ul-style">
                <li>Item-1</li>
                <li>Item-2</li>
                <li>Item-3</li>
            </ul>

            <ul class = "ul-bullet ul-style">
                <li>Item-1</li>
                <li>Item-2</li>
                <li>Item-3</li>
            </ul>

        </div>

        <div class="stack-list-container">
            <ul class="stack-list ul-style">
                <li class = "stack-list-item">
                    <div class="f-s">Notification Title</div>
                    <div>Notification-content</div>
                </li>
                <li class = "stack-list-item">
                    <div class="f-s">Notification Title</div>
                    <div>Notification-content</div>
                </li>
                <li class = "stack-list-item">
                    <div class="f-s">Notification Title</div>
                    <div>Notification-content</div>
                </li>
            </ul>
        </div>
    </div>
    
</body>
</html>