*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-side{
    position:sticky;
    overflow-y:auto;
    width: 14rem;
}
.sidebar-list{
    list-style-type: none;
    text-decoration: none;
}

.sidebar-list-items{
    padding: 0 0.5rem 1rem 0.5rem;
}
.sidebar-list-items-text{
font-size: 1.5rem;
}


.sidebar-list li{
    padding: 0 0.5rem 1rem 0.5rem;
    font-size: 1.5rem;
}

