
.alert {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  padding: 1.25rem 2.5rem;
  box-shadow: 0 0 15px 5px #ccc;
  border-left: 0.5rem solid;
}
.alert-text {
  padding: 0 1rem;
}

.alert-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem 1rem;
  cursor: pointer;
}

.close-btn .fa-times {
  font-size: 1.375rem;
  line-height: 2.5rem;
}

.alert-warning {
  background-color: #fff3cd;
  position: relative;
  border-left: 0.5rem solid #ffd48a;
  color: #856404;
}

.alert-success {
  position: relative;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  border-left: 0.5rem solid #178344;
}

.alert-danger {
  color: #721c24;
  position: relative;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-left: 0.5rem solid #8f130c;
}

.alert-primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
  position: relative;
  border-left: 0.5rem solid #0f52ba;
}
