<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../main.css">
    <title>
        Alerts
    </title>
</head>

<body>
    <!-- Navigation Top Bar Starts Here-->
    <nav class="nav-container">
        <div class="nav-bar-left">
            <ul class="nav-bar-list">
                <li class="nav-bar-title-text">Sway UI</li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li><a href="#">Docs</a></li>
                <li><a href="#">Github</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><input type="search" placeholder="Search"></li>
                <li><button type="button" class="button">Search</button></li>
            </ul>
        </div>
    </nav>
    <!--Navbar Ends here-->

    <!-- Alerts Examples-->

    <div class="alert-container">
        <div class="warning-alert">
            <div class="alert alert-warning">
                <span class="alert-icon"><i class="fas fa-exclamation-circle"></i></span>
                <span class="alert-text alert-warning-text"><strong>Warning: </strong>Warning Alert Message</span>
                <span class="close-btn">
                    <span class="fas fa-times"></span>
                </span>
            </div>
        </div>
        <div class="success-alert">
            <div class="alert alert-success">
                <span class="alert-icon"><i class="fa-solid fa-circle-check"></i></span>
                <span class="alert-text alert-success-text"><strong>Success: </strong>Success Alert Message</span>
                <span class="close-btn">
                    <span class="fas fa-times"></span>
                </span>
            </div>
        </div>
        <div class="danger-alert">
            <div class="alert alert-danger">
                <span class="alert-icon"><i class="fa-solid fa-triangle-exclamation"></i></span>
                <span class="alert-text alert-danger-text"><strong>Danger: </strong>Danger Alert Message</span>
                <span class="close-btn">
                    <span class="fas fa-times"></span>
                </span>
            </div>
        </div>
        <div class="simple-alert">
            <div class="alert alert-primary">
                <span class="alert-icon"><i class="fa-solid fa-message"></i></span>
                <span class="alert-text alert-danger-text"><strong>Primary: </strong>Primary Alert Message</span>
                <span class="close-btn">
                    <span class="fas fa-times"></span>
                </span>
            </div>
        </div>
    </div>
</body>

</html>