<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inputs.css">
    <title>Document</title>
</head>

<body>
    <div class="input-container">

        <div class="input-typ-1">

            <h3>
                Input Field Type 1
            </h3>

            <div class="int-container">
                <input class="int-typ-1 int-color-bg-blue" id = "int-1" type="text" placeholder="Enter Text Here...">
            </div>

        </div>

        <div class="input-typ-2">

            <h3>
                Input Field Type 2 - Error
            </h3>

            <div class="int-container">
                <input class="int-typ-2-error int-color-bg-red" id = "int-2" type="text" placeholder="Enter Text Here...">
            </div>

        </div>

        <div class="input-typ-3">

            <h3>
                Input Field Type 3 - Error - Disabled
            </h3>

            <div class="int-container">
                <input class="int-typ-2-error is-disabled int-color-bg-red" id = "int-3" disabled="true" type="text" placeholder="Disabled.....">
            </div>

        </div>



    </div>
</body>

</html>